.body{
  font-family: "Anton", sans-serif;
}

.navbar-nav {
    gap: 26px;
    margin-left: 250px ;
    font-size: 19px;
    
}

.navbar-nav a{
    color: #355d2b;
}

.nav-link{
     position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding-bottom: 5px;
}

.nav-link::after{
      content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #355d2b;
    transition:  0.3s ease-in-out;
}

.nav-link:hover::after{
     width: 30%;
}


.hero {
    position: relative;
    height: 100vh;
    background-image: url("/img/C1ED3165-8345-4CC9-A8AD-F42CA4BB65A6.PNG");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.hero h1 {
    font-family: "Anton", sans-serif;
  font-weight: 500;
 font-size: 80px;
 
}

.hero h1 span {
    color: #ffffff;
    padding: 0 10px;
}

.hero p {
    margin-top: 20px;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.bouton {
   color: white;
   text-decoration: none;
   font-size: 20px;
   background-color: #355d2b;
   padding: 15px;
   border-radius: 10px;
   transition: 0.6s;
}

.bouton:hover{
    color: #355d2b;
    background-color: white;
}

.conteneur {
    display: flex; 
    align-items: center; 
    gap: 20px;
    padding: 20px;
}

.image {
    margin-left: 40px;
    width: 270px; 
    height: auto;
    border-radius: 10px;
}

.texte {
    max-width: 100%;
    color: #333;
    font-size: 25px;
}

.boot a{
    font-size: 20px;
    color: #355d2b;
}

.boot{
    margin-left: 350px;
    margin-top: -60px;
}



